<div id="popularpostIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
            <div class="row ">
              <div class="col-lg-4">
                <box class="d-flex postcard border-bottom border-Primary position-relative">
                  <img src="../assets/images/聊串/地面師聊串.png" alt="地面師" class="mb4">
                  <div class="my6 mx3 text-truncate">
                    <p class="fz-5 text-truncate">一天追完！劇情好刺<br>激！揪劇友一起討論啊！</p>
                    <div class="tag d-flex fz-mini mt-1">
                      <a href="#" class="text-gray-400">#地面師</a>
                      <a href="#" class="text-gray-400 mx2">#大推特推</a>
                      <a href="#" class="text-gray-400">#無雷</a>
                    </div>
                    <p class="text-light fz-mini bg-black px2 d-inline position-absolute top-0 start-0">#68</p>
                  </div>
                </box>
              </div>
              <div class="col-lg-4">
                <box class="d-flex postcard border-bottom position-relative">
                  <img src="../assets/images/聊串/淚之女王 聊串.png" alt="淚之女王" class="mb4">
                  <div class="my6 mx3 text-truncate">
                    <p class="fz-5 text-truncate">爱到深處的另一面不是<br>「不愛了」，而是「死別」</p>
                    <div class="tag d-flex fz-mini mt-1">
                      <a href="#" class="text-gray-400">#淚之女王</a>
                      <a href="#" class="text-gray-400 mx2">#劇評</a>
                      <a href="#" class="text-gray-400">#微雷</a>
                    </div>
                    <p class="text-light fz-mini bg-black px2 d-inline position-absolute top-0 start-0">#121</p>
                  </div>
                </box>
              </div>
              <div class="col-lg-4">
                <box class="d-flex postcard border-bottom position-relative">
                  <img src="../assets/images/聊串/甄嬛聊串.png" alt="甄嬛" class="mb4">
                  <div class="my6 mx3 text-truncate">
                    <p class="fz-5 text-truncate">爱到深處的另一面不是<br>「不愛了」，而是「死別」</p>
                    <div class="tag d-flex fz-mini mt-1">
                      <a href="#" class="text-gray-400">#甄嬛傳</a>
                      <a href="#" class="text-gray-400 mx2">#劇評</a>
                      <a href="#" class="text-gray-400">#大推特推</a>
                    </div>
                    <p class="text-light fz-mini bg-black px2 d-inline position-absolute top-0 start-0">#23</p>
                  </div>
                </box>
              </div>

            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="container">
            <div class="row ">
              <div class="col-lg-4">
                <box class="d-flex postcard border-bottom border-Primary position-relative">
                  <img src="../assets/images/聊串/地面師聊串.png" alt="地面師" class="mb4">
                  <div class="my6 mx3 text-truncate">
                    <p class="fz-5 text-truncate">一天追完！劇情好刺<br>激！揪劇友一起討論啊！</p>
                    <div class="tag d-flex fz-mini mt-1">
                      <a href="#" class="text-gray-400">#地面師</a>
                      <a href="#" class="text-gray-400 mx2">#大推特推</a>
                      <a href="#" class="text-gray-400">#無雷</a>
                    </div>
                    <p class="text-light fz-mini bg-black px2 d-inline position-absolute top-0 start-0">#68</p>
                  </div>
                </box>
              </div>
              <div class="col-lg-4">
                <box class="d-flex postcard border-bottom position-relative">
                  <img src="../assets/images/聊串/淚之女王 聊串.png" alt="淚之女王" class="mb4">
                  <div class="my6 mx3 text-truncate">
                    <p class="fz-5 text-truncate">爱到深處的另一面不是<br>「不愛了」，而是「死別」</p>
                    <div class="tag d-flex fz-mini mt-1">
                      <a href="#" class="text-gray-400">#淚之女王</a>
                      <a href="#" class="text-gray-400 mx2">#劇評</a>
                      <a href="#" class="text-gray-400">#微雷</a>
                    </div>
                    <p class="text-light fz-mini bg-black px2 d-inline position-absolute top-0 start-0">#121</p>
                  </div>
                </box>
              </div>
              <div class="col-lg-4">
                <box class="d-flex postcard border-bottom position-relative">
                  <img src="../assets/images/聊串/甄嬛聊串.png" alt="甄嬛" class="mb4">
                  <div class="my6 mx3 text-truncate">
                    <p class="fz-5 text-truncate">爱到深處的另一面不是<br>「不愛了」，而是「死別」</p>
                    <div class="tag d-flex fz-mini mt-1">
                      <a href="#" class="text-gray-400">#甄嬛傳</a>
                      <a href="#" class="text-gray-400 mx2">#劇評</a>
                      <a href="#" class="text-gray-400">#大推特推</a>
                    </div>
                    <p class="text-light fz-mini bg-black px2 d-inline position-absolute top-0 start-0">#23</p>
                  </div>
                </box>
              </div>

            </div>
          </div>
      </div>
   
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#popularpostIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#popularpostIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>