.index-main{
 .postcard{
  height: 133px;
 }

 .banner{
    background-image: url(/assets/images/deco/地面師banner.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
 }


}