<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Movie Meet</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

   <main class="index-main">
    <section class="container-fluid">
      <div class="banner p-5 mb-4 mw-100 position-relative">
        <picture class="d-flex justify-content-end">
          <source media="(min-width: 992px)" srcset="../assets/images/deco/地面師banner.png">
          <img src="../assets/images/deco/地面師banner.png" alt="地面師">
        </picture>
       <!--banner文字-->
        <div class="container py-5 position-absolute top-0 start-45">
          <img src="../assets/images/deco/人氣聊串.png" alt="人氣聊串">
          <div class="post-text"> 
          <p class="fs-4">#68</p>
          <h4 class="display-5 fw-bold col-lg-6">一天追完！劇情好刺激！揪劇友一起討論啊！</h4>
          <div class="tag">
            <button type="button" class="btn btn-gray-400">#地面師</button>
            <a href="#" class="btn btn-gray-400" role="button">#大推特推</a>
            <a href="#" class="btn btn-gray-400" role="button">#無雷</a>
          </div>
          <!--其他串聊-->
          <div class="container">
            <div class="row">
              <div class="col-4">
                <box class="d-flex postcard border-bottom border-Primary">
                  <img src="../assets/images/聊串/地面師聊串.png" alt="地面師">
                  <div>
                    <p>一天追完！劇情好刺激！揪劇友一起討論...</p>
                    <div class="tag">
                      <button type="button" class="btn btn-gray-400">#地面師</button>
                      <a href="#" class="btn btn-gray-400" role="button">#大推特推</a>
                      <a href="#" class="btn btn-gray-400" role="button">#無雷</a>
                    </div>
                  </div>
                </box>
              </div>
              <div class="col-4">
                <box></box>
              </div>
              <div class="col-4">
                <box></box>
              </div>

            </div>
          </div>

          
        


          </div>
           
          
        </div>
      </div>
    </section>

    <div class="middel-tag ">
      <div class="container d-flex ">
        <div class="row position-relative"> 
          <picture >
            <source media="(min-width: 992px)" srcset="../assets/images/deco/熱門標籤 背景.png">
            <img src="../assets/images/deco/熱門標籤 背景.png" alt="熱門標籤">
          </picture>
          <div class="tag-title">
            <h3 class="d-inline position-absolute top-50 start-50 translate-middle">#熱門標籤</h3>
        </div>
      </div>
        <div class="all-tag ml6">
          <a href="#" class="btn btn-gray-400" role="button">#大推特推</a>
          <a href="#" class="btn btn-gray-400" role="button">#地面師</a>
        </div>
      </div>
    </div>
   <!--排行榜-->
    <div class="ranking mt10">
      <div class="container">
        <div class="row gy-2">
          <div class="col-lg-12 text-center">
            <box>
              <img src="../assets/images/deco/title-popranking.png" alt="popular ranking">
            </box>
          </div>
        </div>  
          <div class="row">
            <div class="col-lg-4 position-relative">
              <div class="rankingcard">
                <picture>
                  <source media="(min-width: 992px)" srcset="../assets/images/ranking/pop/pop-1.png">
                  <img src="../assets/images/ranking/pop/pop-1.png" alt="pop-rankingcard1" class="pt18">
                </picture>
                <div class="number position-absolute top-0 start-0">
                  <img src="../assets/images/ranking/數字/1.png" alt="number1" class="ml10 w-100">
                </div>
             </div>
            </div> 
            <div class="col-lg-4 position-relative">
              <div>
                <picture>
                  <source media="(min-width: 992px)" srcset="../assets/images/ranking/pop/pop-2.png">
                  <img src="../assets/images/ranking/pop/pop-2.png" alt="pop-rankingcard2" class="pt18">
                </picture>
                <div class="number position-absolute top-0 start-0">
                  <img src="../assets/images/ranking/數字/2.png" alt="number2" class="ml10">
                </div>

          </div>
          
          </div>
          <div class="col-lg-4">
            <box></box>
          </div>

        


      </div>

    </div>



   </main> 


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
